* {
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", monospace;
  margin: 25px;
}

header {
  padding: 20px;
  background-color: var(--theme-color);
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

.glitchButton {
  background-color: white;
  padding: 0.5em;
  border-radius: 0.5em;
}

code, blockquote {
  background: lightgrey;
  padding: 0.3em;
  font-size: 1.2em;
}